.Badge-container{
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
    max-width: 100px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    float: right;
    margin-top: 5px;
    /* overflow-x: unset; */
}

.Badge-container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: cell;
}